build/*

codeblocks/Makefile.in

aclocal.m4
autom4te.cache/*
autotools/compile
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
config.h.in
configure
Makefile.in

src/prboom-plus/aclocal.m4
src/prboom-plus/autom4te.cache/*
src/prboom-plus/autotools/compile
src/prboom-plus/autotools/config.guess
src/prboom-plus/autotools/config.sub
src/prboom-plus/autotools/depcomp
src/prboom-plus/autotools/install-sh
src/prboom-plus/autotools/missing
src/prboom-plus/config.h.in
src/prboom-plus/configure
src/prboom-plus/Makefile.in

